@import './global.css';
* {
    padding: 0;
    margin: 0;
    color: var(--priCol);
} html,body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.main-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    overflow: hidden;
} .mobile-cont {
    height: 350px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
} .mobile-display {
    width: 100%;
    height: 100%;
    padding: 3em 2.4em;
    padding-right: 1em;
    padding-bottom: 2.5em;
} .display-glass {
    background: linear-gradient(180deg, rgba(0,0,0,0.4), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    padding-top: 15px;
    padding-left: 5px;
    height: 100%;
    border-radius: 0 15px 15px 0;

} h4 {
    color: var(--priCol);
    margin-bottom: 1em;
} .overall-box {
    border: 1px solid var(--priCol);
    padding: 5px;
    padding-bottom: 15px;
    transition: background-color .2s ease-in-out;
} .overall-box > span {
    display: block;
    margin-top: -18px;
    margin-bottom: 15px;
} .input-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    width: 100%;
} .input-group {
    /* overflow-y: hidden; */
    border: 1px solid var(--priCol);
    
} .input-group > input {
    width: 100%;
    background-color: rgba(0,0,0,0);
    margin-left: .2em !important;
    margin-right: .3em;
    border: none;
    outline: none;
    padding: 5px;
} .input-group > label{
    margin-top: -15px;
    margin-bottom: 2px;
} .overall-box:hover {
    background-color: var(--secCol);
} input:focus {
    background-color: #999;
    font-weight: bolder;
    color: black;
}