@import './global.css';
* {
    padding: 0;
    margin: 0;
    color: var(--priCol);
    font-family: 'Inter', sans-serif;
} html,body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.custom-bg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden;
}

/* ====== Mobile Layout ========= */

/* .mobile-cont {
    box-shadow: inset -15px 10px 25px 15px rgba(0,225,0,.5);
    
    border-radius: 15px;
    height: 290px;
    width: 600px;
    overflow: hidden;
}  */
.mobile-display {
    -webkit-box-shadow:0px 0px 265px 28px rgba(0,197,0,.5);
    -moz-box-shadow: 0px 0px 265px 28px rgba(0,197,0,.5);
    box-shadow: 0px 0px 265px 28px rgba(0,197,0,.5);
    transition: box-shadow .3s ease-in-out;
    width: 65%;
    height: 300px;
    border-radius: 15px;

} .mobile-display:hover {
    
    -webkit-box-shadow:0px 0px 265px 28px rgba(0,197,0,.6);
    -moz-box-shadow: 0px 0px 265px 28px rgba(0,197,0,.6);
    box-shadow: 0px 0px 265px 28px rgba(0,197,0,.6);
} 

.display-glass {
    background: linear-gradient(180deg, rgba(0,0,0,0.4), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    /* padding-top: 15px;
    padding-left: 5px; */
    height: 100%;
    border-radius: 15px;

}
/* ================================== */
/* ============= Form =============== */
h4 {
    color: var(--priCol);
    margin-top: 1em;
    margin-bottom: 1em;
} .overall-box {
    background-color: #4a2812;
    border: 1px solid var(--priCol);
    padding: 5px;
    padding-bottom: 15px;
    transition: background-color .2s ease-in-out;
} .overall-box > span {
    display: block;
    transition: background-color .2s ease-in-out;
    background-color: #4a2812;
    margin-top: -18px;
    margin-bottom: 15px;
    width: fit-content;
} .input-cont {
    padding-top: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    width: 100%;
} .input-group {
    /* overflow-y: hidden; */
    border: 1px solid var(--priCol);
    transition: all .4s ease-in-out;
    padding-bottom: 1em;
    
} .input-group > input {
    width: 100%;
    background-color: rgba(0,0,0,0);
    margin-left: .2em !important;
    margin-right: .3em;
    border: 1px solid rgba(0,0,0,0);
    outline: none;
    padding: 5px;
} .input-group > label{
    background-color: #4a2812;
    transition: background-color .2s ease-in-out;
    margin-top: -15px;
    margin-left: .5em;
    padding-left: .5em;
    padding-right: .5em;
    margin-bottom: .8em;
} .overall-box:hover, .overall-box:hover > span {
    background-color: var(--secCol);
} .overall-box:hover label {
    background-color: var(--secCol);
} input:focus {
    background-color: #999;
    font-weight: bolder;
    color: black;
} 
/* ============================= */
/* ========= Reisize Logic ===== */
.mname {
    grid-row-start: 2;
    grid-row-end: 3;
} .lname {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}.main-div {
    grid-template-columns: 1fr 1fr;
}
/* =========================== */